[submodule "y50-subwoofer-linux-enabler"]
	path = y50-subwoofer-linux-enabler
	url = https://github.com/dragosprju/y50-subwoofer-linux-enabler
[submodule "pure"]
	path = pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/SkinMan95/.emacs.d.git
